extends layout

block content
    h1 #{title}: #{bookinstance.book.title}

    p Do you really want to delete this Book Instance?

    form(method='POST' action='')
        .form-group
            input#id.form-control(type='text' name='id' required='true' value=bookinstance._id)
        button.btn.btn-primary('submit') Delete

    